body
{
    background-color: black;
}
#loading
{
    background: white url(image/load.gif) no-repeat center;
    background-size: 350px;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;  
}
video
{
    position: relative;
    padding-left: 125px;
    height: 620px;
}
@media only screen and (max-width:400px)
{
    #loading
    {
        background-size: 200px;
    }
    video 
    {
        top: -50px;
        padding-left: 0px;
        width: 390px;
        height: 400px;
    }
}